{% extends 'base.html' %}

{% block title %}Agregar Evento{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="text-center">Agregar Nuevo Evento</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Título del Evento</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
        </div>
        <div class="mb-3">
            <label for="fecha_fin" class="form-label">Fecha de Fin</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo de Evento</label>
            <select class="form-control" id="tipo" name="tipo" required>
                {% for clave, valor in lista_tipos.items %}
                    <option value="{{ clave }}">{{ valor }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="confidencial" name="confidencial">
            <label class="form-check-label" for="confidencial">Confidencial</label>
        </div>
        <button type="submit" class="btn btn-dark">Guardar Evento</button>
        <a href="{% url 'panel_admin' %}" class="btn btn-secondary">Cancelar</a>
    </form>
    <br>
</div>
{% endblock %}
